*{  margin: 0;
    padding: 0;
}

.menubar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: black;
    width: 100%;
    height: 80px;
    z-index: 10;
    font-size: 18px;

}

nav{
    display:flex;
    padding: 2% 6%;
    justify-content: end;
    align-items: center;

}

.navigation_categories ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.navigation_categories ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    
}
.navigation_categories ul li::after{
    content:"";
    width:0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.navigation_categories ul li:hover::after{
    width:100%;
}

#logo{ 
	position:fixed; 
	top:17; 
	left:10; 
    float: left;
} 

/* ------------------------------- */

.left_window {

    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 50%;
    height: 57%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay--blur {
    backdrop-filter: blur(5px);
}



.overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay:hover {
    opacity: 1;
}

.overlay:hover > * {
    transform: translateY(0);
}

.title {
    font-size: 2em;
    font-weight: bold;
    
}

.description {
    font-size: 1.25em;
    margin-top: 0.25em;
    
}


.overlay1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    cursor: pointer;
    height: 57%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}


.overlay--blur1 {
    backdrop-filter: blur(5px);
}


.overlay1 > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay1:hover {
    opacity: 1;
}

.overlay1:hover > * {
    transform: translateY(0);
}

.title1 {
    font-size: 2em;
    font-weight: bold;
}

.description1 {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.right_window {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 50%;
}


.downleft_window {
    position: absolute;
    left: 0px;
    max-width: 50%;
    top: 56.5%;
}

.overlay2 {
    position: absolute;
    cursor: pointer;
    top:56.5% ;
    left: 0;
    width: 50%;
    height: 57%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay2--blur {
    backdrop-filter: blur(5px);
}



.overlay2 > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay2:hover {
    opacity: 1;
}

.overlay2:hover > * {
    transform: translateY(0);
}

.title2 {
    font-size: 2em;
    font-weight: bold;
}

.description2 {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.downright_window {
    position: absolute;
    top: 56.5%;
    right: 0px;
    max-width: 50%;
}

.overlay3 {
    position: absolute;
    top:56.5% ;
    right: 0;
    width: 50%;
    height: 57%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    
}

.overlay3--blur {
    backdrop-filter: blur(5px);
}



.overlay3 > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay3:hover {
    opacity: 1;
}

.overlay3:hover > * {
    transform: translateY(0);
}

.title3 {
    font-size: 2em;
    font-weight: bold;
}

.text{
    position: absolute;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    border:1px solid #fff;
    padding: 12px 34px;
    
}
.first_layer{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 50%;
    height: 57%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text2{

    position: absolute;

    font-family: sans-serif;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    border:1px solid #fff;
    padding: 12px 34px;
    
}
.second_layer{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 50%;
    height: 57%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text3{

    position: absolute;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    border:1px solid #fff;
    padding: 12px 34px;
    
}
.third_layer{
    position: absolute;
    top: 56.5%;
    left:0;
    cursor: pointer;
    width: 50%;
    height: 57%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text4{

    position: absolute;

    font-family: sans-serif;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    border:1px solid #fff;
    padding: 12px 34px;
    
}
.fourth_layer{
    position: absolute;
    top: 56.5%;
    right:0;
    cursor: pointer;
    width: 50%;
    height: 57%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


body {
    margin:0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

    
footer{
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    
}

.footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer_content p{
    max-width: 500px;
    margin: 10px auto;
    font-family: sans-serif;
    line-height: 14px;
    font-size: 14px;
    color: #cacdd2;
}
.icons{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  

}

 .icons li{
    margin: 0 10px 20px 0;
}

.icons a{

    text-decoration: none;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
} 

.havardPage {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 

  }
  
  .content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    overflow: scroll;
  }

  .content h1 {
      text-align: center;
  }

  .content1 {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    overflow: scroll;
  }

  .content1 h1 {
      text-align: center;
  }

  .content2 {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    overflow: scroll;
  }

  .content2 h1 {
      text-align: center;
  }

  .content1 h1 {
    text-align: center;
}

.content3 {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  overflow: scroll;
}

.content3 h1 {
    text-align: center;
}



  .closee {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closee:hover,
  .closee:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .closee1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closee1:hover,
  .closee1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .closee2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closee2:hover,
  .closee2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .closee3 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closee3:hover,
  .closee3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .apa6thPage {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 

  }
  .apa7thPage {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 

  }
  .vancouverPage {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 

  }